langgraph-prebuilt
langgraph-checkpoint-sqlite
SQLAlchemy
pandas
numpy
ddgs
pip>=25.3
streamlit
python-dotenv
requests
duckduckgo-search
langchain==0.2.14
langchain-community==0.2.11
langchain-google-genai==1.0.5
langgraph==0.2.20