pip>=25.3
streamlit
python-dotenv
requests
duckduckgo-search
langchain==0.3.10
langchain-core==0.3.12
langchain-google-genai==1.0.3
langchain-community==0.3.10
langgraph==0.6.1
langgraph-prebuilt==0.6.1
langgraph-checkpoint-sqlite==2.0.11
SQLAlchemy>=1.4,<2.0.36
pandas
numpy